body {
    background: url("imgs/background_light.jpg");
    font-family: "Nunito", sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

#mainNavbar {
    background: url("imgs/header2.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 14rem;
    font-size: 1.3rem;
    font-weight: 400;    
}

.img {
    max-width:100%;
    max-height:100%;
}

#logo {
    height: 7rem;
    /* padding-left: 3rem; */
}

footer {
    background: url('imgs/footer.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20em;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid rgba(31, 7, 7, 0.575);
    margin: 1em 0;
    padding: 0;
}

#mainNavbar div {
    font-style: italic;
    font-weight: 400;
}

.blurb h2 {
   font-weight: 400;
   font-size: 2.5rem;
}

.blurb p {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#headingGroup p {
    font-weight: 400;
    font-size: 1.3rem;
    font-style: italic;
}

/* .navbar.scrolled {
    background: rgba(254, 251, 254, 0);
    transition: background 500ms;
} */

@media (max-width: 1200px) {
    #headingGroup p {
        font-weight: 400;
        font-size: 1.1rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
    #mainNavbar {
        height: 9rem;
        font-size: 1.1rem;
    }
    #logo {
        height: 5rem;
    }
    footer {
        height: 22.5em;
    }
}

@media (max-width: 768px) {
    #headingGroup p {
        font-weight: 400;
        font-size: 0.9rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
    #mainNavbar {
        height: 7rem;
        font-size: 0.8rem;
    }
    #logo {
        height: 4rem;
    }

    footer {
        height: 35em;
    }
}




